name: Build

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    strategy:
      matrix:
        os: ['windows-latest', 'ubuntu-latest']
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Setup dotnet
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: |
          10.0.x
          9.0.x
          8.0.x

    - name: Install dependencies
      run: dotnet restore "src/CodeWinden.CQRS.sln"

    - name: Build
      run: dotnet build "src/CodeWinden.CQRS.sln" -c Release --no-restore

    - name: Test with the dotnet CLI
      run: dotnet test "src/CodeWinden.CQRS.sln" -c Release -l trx --verbosity=normal --no-build --collect:"XPlat Code Coverage" --results-directory ./coverage

    - name: Code Coverage Report
      uses: irongut/CodeCoverageSummary@v1.3.0
      if: matrix.os == 'ubuntu-latest'
      with:
        filename: coverage/**/coverage.cobertura.xml
        badge: true
        fail_below_min: true
        format: markdown
        hide_branch_rate: false
        hide_complexity: false
        indicators: true
        output: both
        thresholds: '60 80'

    - name: Add Coverage PR Comment
      uses: marocchino/sticky-pull-request-comment@v2
      if: github.event_name == 'pull_request' && matrix.os == 'ubuntu-latest'
      with:
        recreate: true
        path: code-coverage-results.md